* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    min-width: 320px;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    align-items: center;
    background-color: brown;
    padding-left: 10%;
    padding-right: 5%;
}

img.logo {
    max-width: 4em;
    max-height: 4em;
}

.logo-container {
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.search-box {
    position: relative;
    flex: 2;
    background-color: white;
    border-radius: 2em;
    height: 3em;
    padding: 0.5em;
    padding-right: 1em;
    min-width: 150px;
}

.search-text {
    width: 85%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 1em;
    margin-right: -1em;
    color: black;
    font-size: 1em;
}

.search-box:hover #search-results {
    visibility: visible;
}

.searchButton {
    align-self: center;
    height: 100%;
    background: none;
    border: none;
    color: red;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.searchButton:hover {
    color: black;
}

#search-results {
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 2.5em;
    margin-left: 0.5em;
    z-index: 1;
    width: 90%;
}

#search-results a {
    text-decoration: none;
}

.result {
    padding: 5px;
    color: black;
}

.result:hover {
    background-color: lightslategrey;
}

.nav {
    flex: 2;
    display: flex;
    margin-left: 2em;
}

.nav_comp {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-decoration: none;
}

.nav_comp:hover {
    font-size: 1.5em;
}

img.nav_img {
    height: 2.5em;
    width: 2.5em;
}

.nav_text {
    padding-left: 0.5em;
    color: black;
}

@media screen and (max-width: 1024px) {
    .logo-title {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nav_text {
        display: none;
    }
}