body{
    background-color: blanchedalmond;
}

.fomrs-container
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.box{
    flex: 1;
    margin: 5%;
    padding: 1em;
    background-color: wheat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height:500px;
}

@media screen and (max-width: 800px) {
    .fomrs-container{
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .fomrs-container
    {
        padding-left:2%;
        padding-right: 2%;
    }
    .box{
        padding-left:2%;
        padding-right: 2%;
    }
}

.box h1{
    color: black;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background-color: white;
    margin-top: 10px;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    width: 80%;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    border-color: brown;
}

.box input[type = "submit"]{
    border: 0;
    background-color: brown;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.box input[type = "submit"]:hover{
    background-color: lightsalmon;
    color: black;
}