body {
    background-color: blanchedalmond;
}

#section {
    position: relative;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}

/* ##########################   Filtre    ##############   */

.filtre-container {
    position: absolute;
    top: 0;
    width: 200px;
    background-color: wheat;
    padding: 20px;
    margin: 0px 10px;
}

.checkbox-filtre input {
    position: absolute;
    visibility: hidden;
}

.filtre-title {
    display: block;
    text-align: center;
    font-size: 1.6em;
}

.filtru-container {
    font-size: 1.1em;
    margin-top: 2em;
    min-width: 200px;
}

.filtru-title {
    font-size: 1.2em;
    padding: 10px;
}

.filtru input {
    position: absolute;
    visibility: hidden;
}

.filtru label {
    position: relative;
    left: 15px;
}

.filtru span::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.filtru span:hover {
    cursor: pointer;
    font-weight: bold;
}

.filtru span.radio::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 50px;
    transition: background-color .25s;
}

.filtru input[type="radio"]:checked+label span.radio::before {
    background-color: brown;
}

.filtru span.checkbox::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 25%;
    transition: background-color .25s;
}

.filtru input[type="checkbox"]:checked+label span.checkbox::before {
    background-color: brown;
}

@media screen and (max-width: 1023px) {
    section {
        margin-top: 0;
    }
    .filtre-container {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 0px;
    }
    .filtre-title:hover {
        cursor: pointer;
        font-weight: bold;
    }
    .checkbox-filtre input:checked~.filtre {
        display: none;
    }
    .filtre {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .filtru-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .filtru-container {
        min-width: 200px;
    }
}

/* ##########################   Produse    ##############   */

#produse-container {
    padding-left: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produs {
    font-size: 1.5em;
    max-width: 250px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    transition: padding 0.5s ease;
}

.produs:hover {
    padding-top: 0px;
    padding-bottom: 60px;
}

.produs a {
    text-decoration: none;
    color: black;
}

.produs img {
    max-width: 250px;
}

.produs .nume {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.produs .details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.produs button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.produs button:hover {
    background-color: lightsalmon;
}

@media screen and (max-width: 1023px) {
    #produse-container {
        padding-left: 0px;
    }
}