body {
    background-color: blanchedalmond;
}

#section {
    position: relative;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}

/* ##########################   Filtre    ##############   */

.filtre-container {
    position: absolute;
    top: 0;
    width: 200px;
    background-color: wheat;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0px 10px;
    margin-bottom: 50px;
}

.checkbox-filtre input {
    position: absolute;
    visibility: hidden;
}

.filtre-title {
    display: block;
    text-align: center;
    font-size: 1.6em;
}

.filtru-container {
    font-size: 1.1em;
    margin-top: 2em;
    min-width: 200px;
}

.filtru-title {
    font-size: 1.2em;
    padding: 10px;
    position: relative;
}

.filtru-title span {
    margin-right: 5px;
}

.filtru-title img {
    height: 0.8em;
    opacity: 50%;
    transition: opacity 1s;
}

.filtru-title img:hover {
    opacity: 100%;
}

.filtru-title .explicatie {
    z-index: 1;
    position: absolute;
    display: none;
    background-color: brown;
    color: white;
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    font-size: 0.8em;
    border-radius: 0.5em;
}

.filtru-title img:hover+.explicatie {
    display: inline;
}

.filtru {
    padding-left: 15px;
}

.filtru input {
    position: absolute;
    visibility: hidden;
}

.filtru label {
    position: relative;
    left: 15px;
}

.filtru span::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.filtru span:hover {
    cursor: pointer;
    font-weight: bold;
}

.filtru span.radio::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 50px;
    transition: background-color .25s;
}

.filtru input[type="radio"]:checked+label span.radio::before {
    background-color: brown;
}

.filtru span.checkbox::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 25%;
    transition: background-color .25s;
}

.filtru input[type="checkbox"]:checked+label span.checkbox::before {
    background-color: brown;
}

@media screen and (max-width: 1023px) {
    section {
        margin-top: 0;
    }
    .filtre-container {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 0px;
    }
    .filtre-title:hover {
        cursor: pointer;
        font-weight: bold;
    }
    .checkbox-filtre input:checked~.filtre {
        display: none;
    }
    .filtre {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .filtru-container {
        margin-top: 0;
    }
    .filtru-title .explicatie {
        width: 200px;
        left: -20px;
        top: 2.5em;
    }
}

@media screen and (max-width: 320px) {
    .filtru-container {
        min-width: 200px;
    }
}

/* ##########################   Top-bar    ##############   */

#top-bar {
    margin-left: 230px;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    justify-content: space-around;
    font-size: 1.1em;
}

#top-bar .container {
    padding: 10px;
    text-align: center;
}

#top-bar span {
    margin-left: 5px;
}

#ordonare {
    text-decoration: none;
    font-size: 1rem;
    border: none;
    padding: 3px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

select:focus {
    outline: none;
}

/* ##########################   Bot-bar    ##############   */

#bot-bar {
    margin-left: 230px;
    padding: 5px;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bot-bar .page {
    background-color: wheat;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

#bot-bar .page:hover {
    color: brown;
    cursor: pointer;
}

#bot-bar #pageS {
    background-color: brown;
    color: white;
}

@media screen and (max-width: 1023px) {
    #top-bar {
        margin-left: 0px;
    }
    #bot-bar {
        margin-left: 0px;
    }
}

/* ##########################   Produse    ##############   */

#produse-container {
    padding-left: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produs {
    font-size: 1.5em;
    max-width: 250px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    transition: padding 0.5s ease;
}

.produs:hover {
    padding-top: 0px;
    padding-bottom: 60px;
}

.produs a {
    text-decoration: none;
    color: black;
}

.produs img {
    max-width: 250px;
}

.produs .nume {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.produs .details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.produs button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.produs button:hover {
    background-color: lightsalmon;
}

@media screen and (max-width: 1023px) {
    #produse-container {
        padding-left: 0px;
    }
    #top-bar {
        margin-left: 0px;
    }
    .filtre-container {
        padding-bottom: 20px;
    }
}

.mesaj_back {
    font-size: 1.5em;
    margin-top: 25px;
    background-color: wheat;
    padding: 15px;
    border-radius: 0.5em;
    box-shadow: grey 0px 0px 5px;
}