body {
    background-color: blanchedalmond;
}

section{
    max-width: 1100px;
    margin: auto;
}

.account{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: wheat;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
/* ///////////  #stanga /////*/
.stanga{
    min-width: 300px;
    text-align: center;
    padding-bottom: 25px;
}

.account .title{
    font-size: 2em;
}
.acc_img img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
.logout-btn{
    
}

/* ///////////  #dreapta /////*/
.dreapta{
    align-self: center;
    padding-top: 25px;
}

.submit-btn{
    text-align: center;
}

.linie{
    display: flex;
    margin: 10px;
}
.linie input{
    flex: 1;
    max-height: 25px;
    align-self: center;
}