body {
    background-color: blanchedalmond;
}

section {
    max-width: 1300px;
    margin: auto;
}

.section-title{
    font-size: 2em;
    text-align: center;
    padding: 50px 0px;
    
}

.produs{
    display: flex;
    justify-content: space-around;
    background-color: wheat;
    margin: 15px 0px;
    padding: 15px 0px;
}

.produs a {
    width: 200px;
    height: 200px;
}

.produs img{
    width: 100%;
}
.detalii-produs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.produs-title{
    font-size: 1.5em;
}

.total-comanda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

.pret{
    font-size: 1.5em;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    transition: padding 0.5s ease;
}

.button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button:hover {
    background-color: lightsalmon;
}
