body {
    background-color: blanchedalmond;
}

.title {
    font-size: 2em;
    text-align: center;
    padding: 25px;
}

section {
    max-width: 1300px;
    margin: auto;
    margin-bottom: 50px;
}

/* ####################### Persoana fizica/juridica */

.client {
    margin: auto;
    ;
}

.selector-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selector {
    font-size: 1.5em;
    text-align: center;
    background-color: wheat;
    width: 320px;
}

.selector label div {
    height: 100%;
    background-color: brown;
    color: white;
    opacity: 80%;
    padding: 15px 30px;
    transition: 0.5s;
}

.selector label div:hover {
    opacity: 100%;
}

.selector input {
    position: absolute;
    visibility: hidden;
}

.selector input:checked~label div {
    background-color: wheat;
    color: black;
    opacity: 100%;
}

/* ####### date contact*/

.date {
    margin: auto;
    max-width: 640px;
    padding: 25px;
    background-color: wheat;
}

.PJ {
    visibility: hidden;
    position: absolute;
}

.linie-date {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.linie-date label {
    flex: 1;
    float: right;
}

.linie-date input {
    flex: 1;
    max-width: 200px;
    max-height: 25px;
    border: none;
    padding: 14px 10px;
    border-radius: 12px;
}

/*  #### OPTIOOONS */

.options-container {
    margin: auto;
    margin: 50px auto;
    max-width: 640px;
    background-color: wheat;
    padding-bottom: 50px;
}

.options-container .selector {
    margin: auto;
}

.options-container .selector label div {
    width: 320px;
    margin: auto;
}

.options-container .selector label div {
    height: 100%;
    background-color: wheat;
    color: black;
    opacity: 60%;
    padding: 15px 30px;
    transition: 0.5s;
}

.options-container .selector label div:hover {
    opacity: 100%;
    color: white;
    background-color: burlywood;
}

.options-container .selector input {
    position: absolute;
    visibility: hidden;
}

.options-container .selector input:checked~label div {
    background-color: brown;
    color: white;
    opacity: 100%;
}

.rezumat {
    font-size: 1.5em;
    margin: auto;
    max-width: 640px;
    padding: 25px;
    background-color: wheat;
    text-align: center;
}

.rezumat div {
    margin: 25px 0px;
}

.rezumat input {
    font-size: 1em;
    border: none;
    padding: 15px;
    transition: 0.5s;
    background-color: blanchedalmond;
}

<<<<<<< HEAD
.sumar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: wheat;
    padding: 20px;
    margin:20px;
}

.pret {
    font-size: 1.2em;
    text-align: left;
    margin: 10px;
}

.title-sumar {
    font-size: 2.2em;
    text-align: left;
    margin: 10px;
}

.right button {
    width: 100%;
    margin-bottom: 2em;
    font-size: 1.3em;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: brown;
    color: white;
    transition: 0.25s;
}
.right button:hover {
    background-color: lightsalmon;
=======
.rezumat input:hover {
    background-color: brown;
    color: white;
}

@media screen and (max-width: 639px) {
    .date {
        max-width: 320px;
    }
    .options-container {
        max-width: 320px;
        padding-bottom: 0px;
    }
    .rezumat {
        max-width: 320px;
    }
>>>>>>> 91e3386bd9f2708be808ab7dc649178346f11f3a
}