body {
    background-color: blanchedalmond;
}

section {
    position: relative;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}

/* ##########################   Filtre    ##############   */

.filtre-container {
    position: absolute;
    top: 0;
    width: 210px;
    background-color: wheat;
    padding: 20px;
    margin: 5px 10px;
}

.filtre-title {
    text-align: center;
    font-size: 1.6em;
}

.filtru-container {
    font-size: 1.1em;
    margin-top: 2em;
}

.filtru-title
{
    font-size: 1.2em;
    padding: 10px;
}

.filtru input{
    visibility: hidden;
}
.filtru label {
    position: relative;
    left: 10px;
}

.filtru span::before, .filtru span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.filtru span:hover {
    cursor: pointer;
    font-weight: bold;
}

.filtru span.radio::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 50px;
    transition: background-color .25s;

}

.filtru input[type="radio"]:checked+label span.radio::before {
    background-color: brown;
}

.filtru span.checkbox::before {
    left: -25px;
    width: 1em;
    height: 1em;
    background-color: blanchedalmond;
    border-radius: 25%;
    transition: background-color .25s;

}

.filtru input[type="checkbox"]:checked+label span.checkbox::before {
    background-color: brown;
}

/* ##########################   Produse    ##############   */

.produse-container {
    position: relative;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produs {
    font-size: 1.5em;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    transition: padding 0.5s ease;
}

.produs:hover {
    padding-top: 0px;
    padding-bottom: 60px;
}

.produs a{
    text-decoration: none;
    color: black;
}
.produs img {
    max-width: 300px;
}

.produs .nume {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.produs .details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.produs button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.produs button:hover {
    background-color: lightsalmon;
}